*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    ---clr: #fff;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(-clr);
}

.navigation{
    height: 70px;
    width: 420px;
    background: lightblue;
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}