*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    min-height: 100vh;
    background-color: #28282B;
}

.navigation{
    height: 70px;
    width: 420px;
    background: #CCFF00;
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 67; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    
}

.navigation ul{
    position: relative; 
    display:flex;
    width: 350px;

}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
}

.navigation ul li a .icon{
    position: relative;
    display:block;
    font-size: 1.5em;
    color:#28282B;
    line-height: 75px;
    opacity: 0.75;
}

.navigation ul li.active a .icon{
    opacity: 1;
    color:#CCFF00;
    transform: translateY(-8px);
}

.indicator{
    position: absolute;
    top: -10px;
    width: 70px;
    height: 70px;
    background: #28282B;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: 6px solid #28282B;
    cursor: pointer;
    transition: 0.5s;
}
.indicator::before{
    content:'';
    position: absolute;
    top: 4px;
    left: -25.75px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 4px -6px 0 2px #28282B;
}

.indicator::after{
    content:'';
    position: absolute;
    top: 4px;
    right: -25.75px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -4px -6px 0 2px #28282B;
}

.indicator span{
    position:absolute;
    left: -1px;
    width: 60px;
    height: 60px;
    border: 4px solid #CCFF00;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    transform: scale(0.85);
}

.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 4));
}

section{
    padding-top: 100px;
}

#home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    min-height: 100vh;
}

#home .homeh1{
    
    font-size: clamp(70px, 9vw, 140px);
    line-height: 0.9;
    color:#CCFF00;
    letter-spacing: -5px;
    position: relative;
    z-index: 2;
    
}

#home .hometxt{
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: 5px;
    color: #CCFF00;
    position: relative;
    z-index: 2;
}

.carousel{
    margin: 30px auto 20px;
    width: 100%;
    display: flex;
    overflow-x: hidden;

}

.carousel::-webkit-scrollbar{
    display: none;
}

.card{
    flex: 0 0 700px;
    height: 500px;
    background:#CCFF00;
    transition: 1s;
    border-radius: 16px;
    position: relative;
    overflow: hidden;

}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    animation: spin 45s linear infinite;
    padding-right: 3em;
    

}

@keyframes spin{
    from {translate: 0;}
    to {translate: -100%;}

}

#games{
    padding-top: 50px;
    min-height: 100vh;
}

.card:hover{
    transform: scale(1.1);
    z-index: 2;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 16px;
}

.card-info{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    background: linear-gradient(
        transparent 35%, rgba(0, 0, 0, 0.9)
    );
    opacity: 0;
    transform: translateY(30px);
    transition: 
    opacity 0.5s ease, transform 0.5s ease;

}

.card:hover .card-info{
    opacity: 1;
    transform: translateY(0);
}

.card-info h1{
    color:#CCFF00;
    font-size: 35px;
    margin-bottom: 10px;

}

.card-info p{
    color: white;
    font-size: 16px;
    line-height: 1.5;
}

.bg-text{
    position: absolute;
    font-size: 30vw;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 2px grey;
    letter-spacing: -20px;
    user-select: none;
    pointer-events: none;
    transform: rotate(-8deg);
    z-index: 0;
}

#trending{
    width:90%;
    max-width: 1250px;
    margin: 20px auto 100px;
    color: #fff ;
    min-height: 100vh;
}

.t-h{
    margin-bottom: 55px;
}

.t-h h1{
    color: #CCFF00;
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.t-h p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.gl{
    width: 100%;

}

.gl ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    border-top: 1px solid   rgba(204, 255, 0, 0.25);
}

.gl li{
    position: relative;
    height: 85px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    overflow: hidden;
    transition: 
    background-color 0.3s ease,
    padding-left 0.3s ease;
}
 
.gl li:nth-child(odd){
    border-right: 1px solid rgba(255, 255, 255, 0.12);
}

.gl li span{
    width: 50px;
    color: #CCFF00;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.45;
    transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.gl li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transform-origin: left center;
    transition: 
    color 0.3s ease,
    transform 0.3s ease,
    letter-spacing 0.3s ease;
}

.gl li:hover{
    background: rgba(204, 255, 0, 0.06);
    padding-left: 35px;
}

.gl li:hover span{
    color: #CCFF00;
    opacity: 1;
    transform: translateX(5px);


}

.gl li:hover a{
    color: #CCFF00;
    transform: scale(1.15);
    letter-spacing: 1px;



}

.gl li::after{
    content: "";
    position: absolute;
    left:0;
    bottom:0;
    width:0;
    height: 2px;
    background: #CCFF00;
    box-shadow: 0 0 12ox rgba(204, 255, 0, 0.8);
    transition: width 0.4s ease;

}

.gl li:hover::after{
    width: 100%;
}

@media(max-width: 700px){
    .gl ul{
        grid-template-columns: 1fr;
    }

    .gl li:nth-child(odd){
        border-right: none;
    }

    .gl li{
        height: 75px;
    }
}

#trusted{
    width: 90%;
    max-width: 1250px;
    margin: 100px auto 120px;
    color: #fff;
    min-height: 100vh;
}

.tru-h{
    margin-bottom: 50px;
}

.tru-h h1{
    color: #CCFF00;
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1;
    margin-bottom: 15px;
}

.tru-h p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.tru-g{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.s-c{
    position: relative;
    min-height: 150px;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 25px;
    color: #fff;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background:rgba(255, 255, 255, 0.02);
    overflow: hidden;
    transition: 
    background 0.3s ease,
    border-color 0.3s ease
    transform -.3s ease;
}

.s-n{
    color: #CCFF00;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.5;
}

.s-n h2{
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    transition: 
    color 0.3s ease
    trasnform 0.3s ease;

}

.s-c p{
    color:rgba(255, 255, 255, 0.55);
    font-size: 14px;
}

.aro{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #CCFF00;
    font-size: 28px;
    opacity: 0.4;
    transition: 
    opacity 0.3s ease,
    trasnform 0.3s ease;
}

.s-c:hover{
    background-color: rgba(204, 255, 0, 0.06);
    border-color: rgba(204, 255, 0, 0.6);
    transform: translateX(-5px);
}

.s-c:hover h2{
    color: #CCFF00;
    transform: translateX(5px);
}

.s-c:hover .s-n{
    opacity: 1;
}

.s-c:hover .aro{
    opacity: 1;
    transform: translate(5px, -50%);
}

.s-c::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width:0;
    height: 3px;
    background: #CCFF00;
    box-shadow: 0 0 15px rgba(204, 255, 0, 0.8);
    transition: width 0.4s ease;
}

.s-c:hover::after{
    width: 100%;
}

@media(max-width: 700px){
    .tru-g{
        grid-template-columns: 1fr;
    }

    .s-c{
        min-height: 120px;
        padding: 25px;
    }
}

#contact{
    width: 90%;
    max-width: 1250px;
    margin: 20px auto 40px;
    color: #fff;
}

.c-t{
    margin-bottom: 20px;
}

.c-t h1{
    color: #CCFF00;
    font-size:  clamp(2.5rem, 5vw, 4.5rem);
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1;
    margin-bottom: 15px;
}

.c-t p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.c-b{
    display: inline-block;
    padding: 12px 25px;
    color: #28282B;
    background-color: #CCFF00;
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
    border: 2px solid #CCFF00;
    transition: 
    background 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease;
}

.c-b:hover{
    background: transparent;
    color: #CCFF00;
    transform: translateY(-4px);
}